:root {
    --primary-color: #deeaee;
    --secondary-color: #034f84;
    --tertiary-color: #80ced6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--primary-color);
  }

  header {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color: var(--secondary-color);
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    margin: 0;
    padding-left: 40px;
    padding-right: 10px;
  }

  header a {
    text-decoration: none;
    color: var(--seconday-color);
  }
  
  header nav {
    margin: 7px 0;
  }

  header nav ul, .me div ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
  }

    header nav ul li a, .me div ul li {
    padding: 5px 6px 3px 6px;
    margin: 5px 9px 0 9px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--tertiary-color);
    border-bottom: solid 3px var(--tertiary-color);
  }

  .me div ul li {
    color: var(--secondary-color);
    border-bottom: solid 3px var(--secondary-color);
    font-weight: bold;
  }

  header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    text-shadow: none;
  }

.hero {
  background-image: url("../images/andromeda.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: flex-end;
  background-attachment: absolute;
  background-position: 80%;
  width: 100%;
  height: 300px;
  }

  .subtitle {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    margin: 20px 20px;
    font-size: 50px;
    padding: 0 20px;
  }

  /* About me section */

  .section h1, .me h1 {
    border-right: solid 3px;
    align-items: flex-start;
    text-align: right;
    padding: 10px;
    width: 25%;
    font-size: 45px;
    margin: 10px 0;
  }
  
  .section, .me {
    display: flex;
    flex: 1 100%;
  }

  .me {
    align-items: center;
  }

  .me a {
    text-decoration: none;
    color: var(--secondary-color);
  }

  .links, .me div {
    width: 75%;
    margin: 10px 50px 10px 30px;
  }
  .work-img-others {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: space-between;
  }

  .work-img {
    background-image: url("../images/beach-sunset.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    border: solid 3px var(--tertiary-color);
    width: 100%;
    opacity: .5;
    flex: 0 0 100%;
    margin: 1% 0;
  }

  .small-img {
    border: solid 3px var(--tertiary-color);
    height: 200px;
    flex: 0 0 49%;
    flex-wrap: wrap;
    position: relative;
    opacity: .5;
    margin: 1% 0;
  }

  #led-wall {
    background-image: url("../images/LED-Wall-Benefits.png");
    background-size: cover;
    background-position: center;
  }
  
  #calculator {
    background-image: url("../images/coding-laptop.jpg");
    background-size: cover;
    background-position: center;
  }

  #pastel-puzzels {
    background-image: url("../images/puzzles.jpg");
    background-size: cover;
    background-position: center;
  }

  #run-buddy {
    background-image: url("../images/run-buudy-screenshot.png");
    background-size: cover;
  }
  
  .work-img div, .small-img div {
    z-index: 999;
    background-color: var(--tertiary-color);
    margin-top: 100px;
    width: fit-content;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  .work-img div {
    margin-top: 300px;
  }

  .work-img div div, .small-img div div {
    font-size: 13px;
    padding: 5px 0 0 0;
    margin: 0;
    font-weight: 100;
  }

  .section .work-img:hover, .section .small-img:hover {
    opacity: 1;
  }

  @media screen and (max-width: 1040px) {

    .section, .me {
      flex-direction: column;
      align-items: center;
    }

    .section h1, .me h1 {
      border-bottom: solid 3px;
      text-align: center;
      width: 95%;
      border-right: none;
    }

    .links, .me div {
      width: 75%;
      margin: 10px 30px;
      text-align: center;
    }
  }

  @media screen and (max-width: 768px) {
    header {
      padding: 5px 0;
      justify-content: center;
      position: relative;
    }

    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 575px) {
    .links, .me div {
      width: 90%;
      margin: 10px 0;
    }

    .small-img {
      flex: 0 0 100%;
    }
  }